.services-section {
    /* background-color: #0c0c0d; */
    padding: 4rem 2rem;
    text-align: center;
    /* color: white; */
  }
  
  .services-section h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .services-section h2 span {
    color: var(--text-color);
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }
  
  .service-item {
    /* background-color: #1c1c1e; */
    padding: 1.5rem;
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s ease;
  }
  
  .service-item:hover {
    transform: translateY(-10px);
    border: 1px solid var(--text-color);
  }
  
  .service-number {
    font-size: 1.2rem;
    color: #b3b3b3;
    margin-bottom: 0.5rem;
  }
  
  .service-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .service-description {
    font-size: 0.9rem;
    color: #b3b3b3;
  }
  
  .service-icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
  
  .service-icon a {
    color: #b3b3b3;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .service-icon a:hover {
    color: var(--text-color);
  }
  
  
  
  