/* General Styles */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+IN:wght@100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #ff3c00;
  --text2-color: black;
  --bgcolormodal:#ccccccd0;
  --bgcolor:#ccc;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: var(--bgcolor);
  color: var(--text2-color);
  overflow-x: hidden;
}

section {
  padding: 60px 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

/* Header Section */


/* Hero Section */

/* About Section */
/* About Section Styling */


/* Skills Section */




/* Contact Section */

/* Footer Section */


/* get appointment */



/* Experience section */


/* service section */

